<% @secrets.each do |s| %>
  <p>
    <%= s.content %>
  </p>
  <p>
    <%= s.likes.count %> likes

    <% if s.likes.count<1 %>
    <form class="" action="/secret/like/<%=s.id%>" method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="submit" value="Like">
    </form>
    <% end %>
  </p>
  <% if s.likes.count > 0 %>
    <form class="" action="/unlike/<%=s.id%>" method="post">
      <input type="submit" value="Unlike">
    </form>
  <% end %>
  <form action="/secret/delete/<%=s.id%>" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="_method" value="delete">
    <button type="submit">Delete</button>
  </form>
<% end %>
